@import "../variables";
@import "../colors";

.ProfileContactPreferences {
  background-color:$brandBackGroundGrey;
  &__checkboxLabel{
    display:inline;
  }
  &__checkboxInput{
    display:inline;
    width:auto;
  }
  & p{
    margin:0;
    padding-top:10px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom: 10px;
  }
  &__box{
    background-color:$brandWhite;
    padding:10px;
  }
  &__spacer{
    height:20px;
  }
  &__menuLink{
    background-color:$brandWhite;
    padding:20px;
    display:flex;
    width:100%;
    justify-content: space-between;
  }
  &__checkbox{
    background-color: red;
  }
}