$brandPrimary: #344974;
$brandSecondary: #47A9EF;

$ctaPrimary: #F91C3D;
$ctaSecondary: #F1C40F;

$brandGrey:#D0D8DA;
$brandBackground: #F4FAFF;
$brandBackGroundGrey: #E5E5E5;
$brandError:#FF6347;

$brandBlack: #1C2833;
$brandWhite: #ffffff;

$brandFacebook: #2553B4;