@font-face {
  font-family: "SourceSansPro";
  src: local("SourceSansPro"),
    url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SourceSansProBold";
    src: local("SourceSansProBold"),
      url("../fonts/SourceSansPro-Bold.ttf") format("truetype");
      font-weight: bold;
      font-style: normal;
  }

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
